<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=nomoreserver;AccountKey=PX+9NUnluAxyXqbmtAvvgSR6RU4hrftL1KVY69vCwk/4MpDd1vP0t5oqq8aWA1H9kIo4NjWFUKmDx5PpzIWTbg==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>